:root{
    --color-primary: #DE8028;
    --color-secondary: #B3773E;
    --color-tertiary: #896646;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvw;
    margin: 0;
    padding: 0;
    background-color: var(--color-tertiary);
}
h1,h2,h3{
    text-align: center;
    color: var(--color-primary);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 0 3px;
    border: solid 1px black;
}